* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('../assets/images/laundry_bg.png') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    margin: 0 auto 1rem;
    width: 200px;
    height: auto;
}

.container {
    background: #0170BF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

.form h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
}

#step-indicator {
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0.7rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.2rem;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.input-field {
    width: 100%;
    height: 38px;
    padding: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

button {
    width: 100%;
    padding: 0.7rem;
    background: #FCB22D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 0.7rem;
    transition: background 0.3s ease;
}

button:hover {
    background: #a38348;
}

button a {
    color: #FFFFFF; /* Set the text color to white */
    text-decoration: none; /* Remove the underline */
}

button a:hover {
    color: #FFFFFF; /* Keep the text white on hover */
}

.progress-container {
    width: 100%;
    margin-top: -0.2rem;
    margin-bottom: 1rem;
}

.progress-bar {
    display: flex;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: lightgray;
}

.progress-step {
    flex: 1;
    background-color: lightgray;
    border-radius: 5px;
}

.progress-step.completed {
    background-color: #FCB22D;
}

/* Flexbox layout for address fields */
.address-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* space between inputs */
}

.address-item {
    flex: 1; /* makes each item flexible */
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
    .address-group {
        flex-direction: column; /* stack them on smaller screens */
    }
    
    .address-item {
        margin-bottom: 1rem; /* space between stacked items */
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 1.5rem;
    }
}
